.anime-play{
    position: absolute;
    margin-top: 100px;
    margin-left:600px;
    height: 500px;
    width: 800px;
}
.anime-play-top{
    height: 90%;

}
.play-image{
    height: 100%;
    width: 100%;
}
.play-descp{
    position: relative;
    top:80px;
}